<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criminal Details</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 p-6">
    <div class="m-2">
      <a
        href="/"
        class="inline-block px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-700"
        >Back to Wanted List</a
      >
    </div>
    <div class="max-w-3xl mx-auto">
      <h1 class="text-3xl font-bold mb-6">Criminal Details</h1>
      <% if (criminal !== undefined) { %>
      <h2 class="text-xl font-semibold mb-4"><%= criminal.title || '' %></h2>
      <% if (criminal.warning_message !== null) { %>
      <p class="mb-2 text-red-600 font-bold">
        <strong>WARNING:</strong> <%= criminal.warning_message || '' %>
      </p>
      <% } %>

      <p class="mb-2">
        <strong class="font-semibold">Subjects:</strong> <%=
        criminal.subjects.join(', ') || '' %>
      </p>

      <p class="mb-2">
        <strong class="font-semibold">REWARD:</strong> <%= criminal.reward_text
        || 'NA' %>
      </p>

      <!-- Aliases -->
      <% if (criminal.aliases !== null && criminal.aliases.length > 0) { %>
      <p class="mb-2">
        <strong class="font-semibold">Aliases:</strong> <%=
        criminal.aliases.join(', ') %>
      </p>
      <% } else { %>
      <p class="mb-2"><strong class="font-semibold">Aliases:</strong> NA</p>
      <% } %>

      <!-- Basic Information -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="mb-2">
            <strong class="font-semibold">Sex:</strong> <%= criminal.sex || 'NA'
            %>
          </p>
          <p class="mb-2">
            <strong class="font-semibold">Race:</strong> <%= (criminal.race ||
            'NA').charAt(0).toUpperCase() + (criminal.race || 'NA').slice(1) %>
          </p>

          <p class="mb-2">
            <strong class="font-semibold">Nationality:</strong> <%=
            criminal.nationality || 'NA' %>
          </p>
          <p class="mb-2">
            <strong class="font-semibold">Age Range:</strong> <%=
            criminal.age_range || 'NA' %>
          </p>
        </div>
        <div>
          <!-- Height -->
          <% if (criminal.height_min === null && criminal.height_max === null) {
          %>
          <p class="mb-2"><strong class="font-semibold">Height:</strong> NA</p>
          <% } else if (criminal.height_min === criminal.height_max) { %>
          <p class="mb-2">
            <strong class="font-semibold">Height:</strong> <%=
            criminal.height_min %>
          </p>
          <% } else { %>
          <p class="mb-2">
            <strong class="font-semibold">Height:</strong> <%=
            criminal.height_min %> to <%= criminal.height_max %>
          </p>
          <% } %>

          <p class="mb-2">
            <strong class="font-semibold">Weight:</strong> <%= criminal.weight
            || 'NA' %>
          </p>
          <p class="mb-2">
            <strong class="font-semibold">Eye Color:</strong> <%= criminal.eyes
            || 'NA' %>
          </p>
          <p class="mb-2">
            <strong class="font-semibold">Hair Color:</strong> <%=
            criminal.hair_raw || 'NA' %>
          </p>
        </div>
      </div>

      <div class="container">
        <% if (criminal.scars_and_marks !== null) { %>
        <p class="mt-4">
          <strong class="font-bold">Scars and Marks:</strong>
          <%= criminal.scars_and_marks.replace(/<\/?p>/g, '') || 'NA' %>
        </p>
        <% } else { %>
        <p class="mt-4">
          <strong class="font-bold">Scars and Marks:</strong> NA
        </p>
        <% } %> <% if (criminal.languages !== null && criminal.languages.length
        > 0) { %>
        <p class="mt-4">
          <strong class="font-bold">Languages:</strong> <%=
          criminal.languages.join(', ') %>
        </p>
        <% } else { %>
        <p class="mt-4"><strong class="font-bold">Languages:</strong> NA</p>
        <% } %>
        <p class="mt-4">
          <strong class="font-bold">Description:</strong> <%=
          criminal.description || 'NA' %>
        </p>
        <% if (criminal.caution !== null) { %>
        <p class="mt-4">
          <strong class="font-bold">Caution:</strong> <%=
          criminal.caution.replace(/<\/?p>/g, '') %>
        </p>
        <% } else { %>
        <p class="mt-4"><strong class="font-bold">Caution:</strong> NA</p>
        <% } %> <% if (criminal.details !== null) { %>
        <p class="mt-4">
          <strong class="font-bold">Details:</strong>
          <%= criminal.details.replace(/<\/?p>/g, '') || 'NA' %>
        </p>
        <% } else { %>
        <p class="mt-4"><strong class="font-bold">Details:</strong> NA</p>
        <% } %> <% if (criminal.remarks !== null) { %>
        <p class="mt-4">
          <strong class="font-bold">Remarks:</strong>
          <%= criminal.remarks.replace(/<\/?p>/g, '') || 'NA' %>
        </p>
        <% } else { %>
        <p class="mt-4"><strong class="font-bold">Remarks:</strong> NA</p>
        <% } %> <% if (criminal.occupations !== null &&
        criminal.occupations.length > 0) { %>
        <p class="mt-4">
          <strong class="font-bold">Occupations:</strong> <%=
          criminal.occupations %>
        </p>
        <% } else { %>
        <p class="mt-4"><strong class="font-bold">Occupations:</strong> NA</p>
        <% } %>

        <!-- Image carousel -->
        <div class="container">
          <div class="card">
            <div class="card-body">
              <div
                id="carouselExampleControls"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <% criminal.images.forEach(function(image, index) { %>
                  <div
                    class="carousel-item <% if (index === 0) { %>active<% } %>"
                  >
                    <img
                      src="<%= image.large || 'NA' %>"
                      alt="<%= image.caption || 'NA' %>"
                      class="d-block w-full object-contain h-96"
                    />
                    <p class="flex justify-center">
                      <%= image.caption || 'NA' %>
                    </p>
                  </div>
                  <% }) %>
                </div>
                <button
                  class="carousel-control-prev bg-gray-400"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next bg-gray-400"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Additional details -->
        <p class="mt-4">
          <strong class="font-bold">Publication Date:</strong>
          <%= criminal.publication ? new
          Date(criminal.publication).toDateString() : 'NA' %>
        </p>
        <p class="mt-4">
          <strong class="font-bold">URL:</strong>
          <a href="<%= criminal.url || '#' %>" class="text-blue-500"
            ><%= criminal.url || 'NA' %></a
          >
        </p>
        <p class="mt-4">
          <strong class="font-bold">File:</strong>
          <%= criminal.files && criminal.files.length > 0 ?
          criminal.files[0].name : 'NA' %>:
          <a
            href="<%= criminal.files && criminal.files.length > 0 ? criminal.files[0].url : '#' %>"
            class="text-blue-500"
            >Download</a
          >
        </p>
      </div>
    </div>
    <% } %>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
